* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}


/*******************AMR*************************/

.container {
  margin: 0 auto;
  max-width: 1000px;
}


/***********************************************/

.contact-us-header-wrapper {
  background-color: #EAF0F2;
  color: #A0A0A0;
  text-transform: uppercase;
}

.contact-us-header {
  padding: 0px 55px 50px 0px;
  position: relative;
}

.contact-us-header i {
  height: 100%;
  padding: 4px 34px 0px 36px;
}

.info .fa-mobile {
  font-size: 32px;
}

.info .fa-envelope {
  font-size: 22px;
}

.info p,
.info a {
  display: inline-block;
  color: #A0A0A0;
}

.header {
  float: left;
  font-weight: bold;
  width: 45%;
}

.info {
  float: right;
  width: 47%
}

.divider {
  position: absolute;
  left: 70%;
  bottom: 0%;
  height: 100%;
  border-left: 2px solid #E0E0E0;
}

.logo {
  float: left;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-wrapper {
  line-height: 34px;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper h1 {
  position: absolute;
  left: -99999px;
}

.nav-wrapper ul {
  position: relative;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-wrapper li {
  display: inline-block;
  margin: 0 5px;
}

.nav-wrapper li:first-child {
  display: inline-block;
}

.nav-wrapper li:nth-child(2) {
  margin-left: 175px;
}

.nav-wrapper .contact a {
  display: inline-block;
  padding: 0px 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.nav-wrapper .active a {
  color: #000;
}

.nav-wrapper a,
.nav-wrapper .dropbtn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #B0B0B0;
  text-decoration: none;
}

.nav-wrapper .dropbtn {
  background-color: #FFF;
  border: none;
  cursor: pointer;
  position: relative;
}

.nav-wrapper .dropdown {
  position: relative;
  display: inline-block;
}

.nav-wrapper .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav-wrapper .dropdown-content a {
  color: #B0B0B0;
  text-decoration: none;
  display: block;
}

.nav-wrapper a:hover {
  color: #C1C1C1
}

.nav-wrapper .dropdown-content a:hover {
  background-color: #f1f1f1
}

.nav-wrapper .dropdown:hover .dropdown-content {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #B0B0B0;
  position: absolute;
  top: 15px;
  left: 65px;
}

.default-slider {
  position: relative;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  z-index: 100;
}

.title h1,
.title p {
  text-transform: uppercase;
  color: #FFF;
}

.title h1 {
  font-weight: bold;
}

.title p {
  font-size: 12px;
}


/*******************AMR*************************/

.fa {
  width: 60px;
  height: 60px;
}

.fa-icon {
  margin-right: 15px;
  position: absolute;
  background-color: #E5EEF0;
  /*padding: 15px;*/
  padding: 15px;
  font-size: 30px;
}

.mobile-icon {
  padding-left: 20px;
  font-size: 35px;
}

.offer a {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 150px;
}

.site-navigation .offer {
  background-color: #000;
}

.offer,
.actions {
  text-align: center;
  color: #59686C;
}

.offer h4,
.offer span {
  font-size: 30px;
  margin-bottom: 0;
}

.offer p {
  text-transform: uppercase;
}

.offer span {
  color: #F7941D;
}

.offer .actions .contact {
  background-color: #F7941D;
}

.user-navigation ul {
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
}

.user-navigation {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  right: 5px;
}

.user-navigation li {
  display: inline-block;
  margin: 0 35px;
}

.footer-columns ul {
  padding: 0;
  list-style: none;
  float: left;
}

.footer-columns li {
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 24%;
  margin-top: 0px;
  vertical-align: top;
}

.single-column li {
  display: block;
  margin-top: 10px;
  width: 100%;
  color: #B8BEC2;
  font-size: 60%;
}

.footer-columns h1 {
  width: 24%;
}

.footer-columns {
  margin-top: 50px;
  width: 55%;
  margin: 0 auto;
}

.single-column p,
.single-column a {
  display: inline;
  margin-top: 10px;
  width: 100%;
  color: #000;
}

.single-column a {
  text-decoration: none;
  color: #C1C1C1;
  margin-top: 0;
}

.single-column img:nth-child(2) {
  margin-left: 10px;
}

.single-column img:nth-child(3) {
  margin-left: 10px;
}

.no-heading p {
  visibility: hidden;
}

.search a {
  display: inline-block;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  width: 40px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.search input {
  height: 20px;
  width: 200px;
}

.search {
  display: inline-block;
  position: relative;
}

.footer-content {
  position: relative;
}

.footer-content img:nth-child(1) {
  position: absolute;
  left: 21%;
  top: 15px;
  width: 25px;
  height: 25px;
}

.footer-content img:nth-child(2) {
  position: absolute;
  left: 0%;
  width: 350px;
  height: 170px;
}

.footer-content img:nth-child(3) {
  position: absolute;
  right: 0%;
  top: 15px;
  width: 350px;
  height: 220px;
}

.footer-end {
  color: #93a1a7;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

footer hr {
  height: 0px;
  margin-top: 28px;
}

/***********************************************/


/* latin-ext */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
