.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #B0B0B0;
  position: absolute;
  top: 15px;
  left: 65px;
}

.arrow-news-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #EAF0F2;
  position: absolute;
  top: 40.2%;
  left: 47%;
}

.title {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.title h1,
.title p {
  font-family: Raleway;
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
}

.title h1 {
  font-weight: bold;
  font-size: 48px;
  width: 100%;
  top: 20%;
}

.title p {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  top: 45%;
}

.title img {
  width: 100%;
  height: 310px;
}

.current-page h2,
.current-page p {
  text-transform: uppercase;
}

.current-page h2 {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  margin-bottom: 0;
}

.current-page p {
  font-size: 18px;
  width: 100%;
}

.news-details {
  position: relative;
  background-color: #EAF0F2;
}

.news-details img {
  width: 100%;
  height: 369px;
}

.news-details .content {
  text-align: center;
  padding: 25px;
  color: #59686C;
}

.day,
.date,
.container .news-details h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.day {
  font-family: Raleway;
  font-size: 48px;
  margin-bottom: 0;
}

.date {
  font-family: Raleway;
  font-size: 16px;
  margin-top: 0;
}

.container .news-details h3 {
  font-family: Raleway;
  font-size: 24px;
}

.news-details a,
.offer a {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}
