.container {
  margin: 0 auto;
  max-width: 1000px;
}

.wrapper {
  background-color: #eaf0f2;
}

.logo {
  float: left;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-wrapper {
  line-height: 34px;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper h1 {
  position: absolute;
  left: -99999px;
}

.nav-wrapper ul {
  position: relative;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-wrapper li {
  display: inline-block;
  margin: 0 5px;
}

.nav-wrapper li:first-child {
  display: inline-block;
  margin: 0 55px;
}

.nav-wrapper .contact a {
  display: inline-block;
  padding: 0px 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.nav-wrapper .active a {
  color: #000;
}

.nav-wrapper a,
.nav-wrapper .dropbtn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #B0B0B0;
  text-decoration: none;
}

.nav-wrapper .dropbtn {
  background-color: #FFF;
  border: none;
  cursor: pointer;
  position: relative;
}

.nav-wrapper .dropdown {
  position: relative;
  display: inline-block;
}

.nav-wrapper .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav-wrapper .dropdown-content a {
  color: #B0B0B0;
  text-decoration: none;
  display: block;
}

.nav-wrapper a:hover {
  color: #C1C1C1
}

.nav-wrapper .dropdown-content a:hover {
  background-color: #f1f1f1
}

.nav-wrapper .dropdown:hover .dropdown-content {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #B0B0B0;
  position: absolute;
  top: 15px;
  left: 65px;
}

.news-title {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.news-title h1,
.news-title p {
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
  font-family: Raleway;
}

.news-title h1 {
  font-weight: bold;
  font-size: 48px;
  width: 100%;
  top: 20%;
}

.news-title p {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  top: 45%;
}

.news-title img {
  width: 100%;
  height: 310px;
}

.current-page h2,
.current-page p {
  text-transform: uppercase;
}

.current-page h2 {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  margin-bottom: 0;
}

.current-page p {
  font-size: 18px;
  width: 100%;
}

.news-element-wrapper {
  max-height: 300px;
}

.news-details img {
  width: 100%;
  height: 300px;
}

.news-details .content {
  text-align: center;
  padding: 5px;
  color: #59686C;
}

.day,
.date,
.container .news-details h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.day {
  font-family: Raleway;
  font-size: 48px;
  margin-bottom: 0;
}

.date {
  font-family: Raleway;
  font-size: 16px;
  margin-top: 0;
}

.container .news-details h3 {
  font-family: Raleway;
  font-size: 24px;
  margin: 0;
}

.news-details a,
.offer a {
  display: inline-block;
  padding: 0px 20px;
  margin-bottom: 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.news-details a {
  padding: 0;
  min-width: 150px;
}

.offer a {
  margin-right: 20px;
}

.offer,
.actions {
  text-align: center;
  color: #59686C;
}

.offer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.offer h4,
.offer span {
  font-size: 30px;
  margin-bottom: 0;
}

.offer p {
  text-transform: uppercase;
}

.offer span {
  color: #F7941D;
}

.offer .actions .contact {
  background-color: #F7941D;
}

.grid-layout-container {
  padding: 0.25em;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.grid-layout-container li {
  float: left;
  list-style-type: none;
  width: 30%;
  height: 600px;
}

.grid-layout-container li:not(:nth-child(3n+3)) {
  margin-right: 25px;
}

.grid-layout-container img {
  display: block;
  width: 100%;
  height: 50%;
}

.grid-layout-container li:nth-child(3n+1) {
  clear: left;
}

.grid-layout-container li:nth-child(2n+1) {
  clear: none;
}

.user-navigation ul {
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
}

.user-navigation {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  right: 5px;
}

.user-navigation li {
  display: inline-block;
  margin: 0 35px;
}

.footer-columns ul {
  padding: 0;
  list-style: none;
  float: left;
}

.footer-columns li {
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 24%;
  margin-top: 0px;
  vertical-align: top;
}

.single-column li {
  display: block;
  margin-top: 10px;
  width: 100%;
  color: #B8BEC2;
  font-size: 60%;
}

.footer-columns h1 {
  width: 24%;
}

.footer-columns {
  margin-top: 50px;
  width: 65%;
  margin: 0 auto;
}

.single-column p,
.single-column a {
  display: inline;
  margin-top: 10px;
  width: 100%;
  color: #000;
}

.single-column a {
  text-decoration: none;
  color: #C1C1C1;
  margin-top: 0;
}

.single-column img:nth-child(2) {
  margin-left: 10px;
}

.single-column img:nth-child(3) {
  margin-left: 10px;
}

.no-heading p {
  visibility: hidden;
}

.search a {
  display: inline-block;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  width: 40px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.search input {
  height: 20px;
  width: 200px;
}

.search {
  display: inline-block;
  position: relative;
}

.footer-content {
  position: relative;
}

.footer-content img {
  position: absolute;
  left: 12%;
  top: 15px;
  width: 25px;
  height: 25px;
}
