.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*******************AMR*************************/
.container {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
}
/***********************************************/ยง

.logo {
  float: left;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-wrapper {
  line-height: 34px;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper h1 {
  position: absolute;
  left: -99999px;
}

.nav-wrapper ul {
  position: relative;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-wrapper li {
  display: inline-block;
  margin: 0 5px;
}

.nav-wrapper li:first-child {
  display: inline-block;
  margin: 0 55px;
}

.nav-wrapper .contact a {
  display: inline-block;
  padding: 0px 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.nav-wrapper .active a {
  color: #000;
}

.nav-wrapper a,
.nav-wrapper .dropbtn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #B0B0B0;
  text-decoration: none;
}

.nav-wrapper .dropbtn {
  background-color: #FFF;
  border: none;
  cursor: pointer;
  position: relative;
}

.nav-wrapper .dropdown {
  position: relative;
  display: inline-block;
}

.nav-wrapper .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav-wrapper .dropdown-content a {
  color: #B0B0B0;
  text-decoration: none;
  display: block;
}

.nav-wrapper a:hover {
  color: #C1C1C1
}

.nav-wrapper .dropdown-content a:hover {
  background-color: #f1f1f1
}

.nav-wrapper .dropdown:hover .dropdown-content {
  display: block;
}
.footer-columns ul {
  padding: 0;
  list-style: none;
  float: left;
}

.footer-columns li {
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 24%;
  margin-top: 0px;
  vertical-align: top;
}

.single-column li {
  display: block;
  margin-top: 10px;
  width: 100%;
  color: #B8BEC2;
  font-size: 60%;
}

.footer-columns h1 {
  width: 24%;
}

.footer-columns {
  margin-top: 50px;
  width: 65%;
  margin: 0 auto;
}

.single-column p,
.single-column a {
  display: inline;
  margin-top: 10px;
  width: 100%;
  color: #000;
}

.single-column a {
  text-decoration: none;
  color: #C1C1C1;
  margin-top: 0;
}

.single-column img:nth-child(2) {
  margin-left: 10px;
}

.single-column img:nth-child(3) {
  margin-left: 10px;
}

.no-heading p {
  visibility: hidden;
}

.search a {
  display: inline-block;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  width: 40px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.search input {
  height: 20px;
  width: 200px;
}

.search {
  display: inline-block;
  position: relative;
}

.footer-content {
  position: relative;
}

.footer-content img:nth-child(1) {
  position: absolute;
  left: 12%;
  top: 15px;
  width: 25px;
  height: 25px;
}
.news-title {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.news-title h1,
.news-title p {
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
  font-family: Raleway;
}

.news-title h1 {
  font-weight: bold;
  font-size: 48px;
  width: 100%;
  top: 20%;
}

.news-title p {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  top: 45%;
}

.news-title img {
  width: 100%;
  height: 310px;
}


.news-details {
  position: relative;
}

.news-details img {
  width: 100%;
  height: 300px;
}

.news-details .content {
  text-align: center;
  padding: 7px;
  color: #59686C;
}

.container .news-details h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.news-details a {
  display: inline-block;
  padding: 0px 20px;
  margin-bottom: 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.news-details a {
  padding: 0;
  min-width: 150px;
}


.container img:nth-child(3){
  position: absolute;
  left: 60%;
  top: 28%;
  width: 32px;
  height: 32px;
}
.footer-content img:nth-child(2) {
  position: absolute;
  left: 0%;
  width: 350px;
  height: 150px;
}
.footer-content img:nth-child(3) {
  position: absolute;
  right: 0%;
  top: 15px;
  width: 350px;
  height: 150px;
}
.offer a {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 150px;
}

.site-navigation .offer {
  background-color: #000;
}

.offer,
.actions {
  text-align: center;
  color: #59686C;
}

.offer h4,
.offer span {
  font-size: 30px;
  margin-bottom: 0;
}

.offer p {
  text-transform: uppercase;
}

.offer span {
  color: #F7941D;
}

.offer .actions .contact {
  background-color: #F7941D;
}
.main-content h2 {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  margin-bottom: 0;
}
.main-content{
  width: 60%;
  margin: 0 auto;
}
.main-content ul{
  padding: 0;
  list-style: none;
}
.services div:nth-child(1){
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.services div:nth-child(2){
  display: inline-block;
  width: 75%;
}
.link{
  display: inline-block;
  padding: 0px 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}
.link:hover{
  background-color: #f69b37;
}
.services-wrapper li:nth-child(1) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/dataentry.png') center top no-repeat;
}
.services-wrapper li:nth-child(1) .services-image:hover{
  background-image: url('../images/dataentryhover.png');
}
.services-wrapper li:nth-child(2) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/analyze.png') center top no-repeat;
}
.services-wrapper li:nth-child(2) .services-image:hover{
  background-image: url('../images/analyzehover.png');
}
.services-wrapper li:nth-child(3) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/client.png') center top no-repeat;
}
.services-wrapper li:nth-child(3) .services-image:hover{
  background-image: url('../images/clienthover.png');
}
.services-wrapper li:nth-child(4) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/communication.png') center top no-repeat;
}
.services-wrapper li:nth-child(4) .services-image:hover{
  background-image: url('../images/communicationhover.png');
}
.services-wrapper li:nth-child(5) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/support.png') center top no-repeat;
}
.services-wrapper li:nth-child(5) .services-image:hover{
  background-image: url('../images/supporthover.png');
}
.services-wrapper li:nth-child(6) .services-image{
  display: block;
  height:122px;
  width: 122px;
  background:transparent url('../images/breif.png') center top no-repeat;
}
.services-wrapper li:nth-child(6) .services-image:hover{
  background-image: url('../images/breifhover.png');
}
.services{
  margin-bottom: 20px;
}
.data-counter{
  background: #e5eef0;
  padding: 80px 0 45px 0;
  margin-top: 70px;
  margin-bottom: 70px;
}
.data-container{
  padding-right: 15px;
  padding-left: 15px;
}
.data{
  display: inline-block;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  margin-left: 25px;
}
.data h2{
  font-size: 60px;
  line-height: 40px;
  font-family: "Karla",sans-serif;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
.data p{
  line-height: 2;
  font-size: 14px;
  font-family: "Karla",sans-serif
}
.data img{
  display: inline-block;
  float: left;
  padding-right: 35px;
  padding-bottom: 40px; 
  vertical-align: baseline;
}