* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.default-slider {
  position: relative;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  z-index: 100;
}

.title h1,
.title p {
  text-transform: uppercase;
  color: #FFF;
}

.title h1 {
  font-weight: bold;
}

.title p {
  font-size: 12px;
}

.fa-icon {
  margin-right: 15px;
  position: absolute;
  background-color: #E5EEF0;
  padding: 15px;
  font-size: 30px;
}

.fa-bar-chart {
  color: #FFF;
  background-color: #F7941D;
}

.default-slider img {
  width: 100%;
  height: 500px;
}

.unslider-nav {
  position: relative;
}

.unslider-nav ol li {
  width: 12px;
  height: 12px;
}

.unslider-nav ol {
  position: absolute;
  width: 100%;
  top: -50px;
}

.image-div {
  width: 100%;
}

.description {
  width: 49%;
  display: inline-block;
  padding-right: 1%
}

.description img {
  width: 350px;
}

.description h2,
.description-subtitle {
  text-transform: uppercase;
}

.description-subtitle {
  margin-top: 0;
}

.description h2 {
  margin-bottom: 0;
}

.description-content {
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 35px
}

.services {
  width: 49%;
  float: right;
  padding-left: 1%;
}

.services a {
  display: inline-block;
  padding: 0px 20px;
  margin-left: 22%;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
}

.service {
  margin-top: 20px;
}

.service-container {
  display: inline-block;
  width: 80%;
  position: relative;
  left: 85px;
}

.service-header {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: bold;
}

.service-text {
  margin-top: 5px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.offer a {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  min-width: 100px;
}

.offer,
.actions {
  text-align: center;
  color: #59686C;
}

.offer h4,
.offer span {
  font-size: 30px;
  margin-bottom: 0;
}

.offer p {
  text-transform: uppercase;
}

.offer span {
  color: #F7941D;
}

.offer .actions .contact {
  background-color: #F7941D;
}


/* latin-ext */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
