* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
}

.default-slider {
  position: relative;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  z-index: 100;
}

.title h1,
.title p {
  text-transform: uppercase;
  color: #FFF;
}

.title h1 {
  font-weight: bold;
}

.title p {
  font-size: 12px;
}

.fa {
  width: 60px;
  height : 60px;
}

.fa-icon {
  margin-right: 15px;
  position: absolute;
  background-color: #E5EEF0;
  /*padding: 15px;*/
  padding: 15px;
  font-size: 30px;
}

.mobile-icon {
  padding-left:20px;
  font-size: 35px;
} 

.fa-colored {
  color: #FFF;
  background-color: #F7941D;
}

.default-slider img {
  width: 100%;
}

.unslider-nav {
  position: relative;
}

.unslider-nav ol li {
  width: 12px;
  height: 12px;
}

.unslider-nav ol {
  position: absolute;
  width: 100%;
  top: -50px;
}

.image-div {
  width: 100%
}

.description {
  width: 49%;
  display: inline-block;
  padding-right: 1%
}

.description img {
  width: 350px;
}

h2, .description-subtitle {
  text-transform: uppercase;
}

.description-subtitle {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

.description-content {
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 35px
}

.services {
  width: 49%;
  float: right;
  padding-left: 1%;
}

.services a {
  display: inline-block;
  margin-top: 40px;
  padding: 0px 20px;
  margin-left: 22%;
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
}

.service {
  margin-top: 20px;
}

.service-container {
  display: inline-block;
  width: 80%;
  position: relative;
  left: 75px;
}

.service-header {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: bold;
}

.service-text {
  margin-top: 5px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.features {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 100px;
}

.three-col {
  display: inline-block;
  width: 32%;
  margin-right: 10px;
}

.features a {
  display: inline-block;
  margin-top: 40px;
  padding: 0px 20px;
  /*margin-left: 22%;*/
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
}

.features img {
  position: absolute;
  bottom: 0;
}

.orange-trad-pic {
  right: 0px;
}

.blue-trad-pic {
  bottom: -5;
  right: 75px;
}

.pricing {
  margin-top: 50px;
  margin-bottom: 100px;
}

.four-cols-grid {
  margin-top: 40px;
}

.four-col {
  float: left;
  width: 24%;
  height: 420px;
  margin-right:12px;
  /*box-shadow: .2px .2px .05px .05px gray;*/
}

.four-col:nth-child(4) {
  margin-right: 0px;
}

.pricing .four-col {
  border: 1px solid #F0F0F0;
  position: relative;
}

.pricing .four-col p {
  text-align: center;
}

.pricing .four-col p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  border-bottom: 1px solid #F0F0F0;
}

.pricing .four-col p:nth-child(2) {
  text-align: center;
  color: gray;
  line-height: 40px;
  border-bottom: 1px solid #F0F0F0;
}

.dollar {
  color: orange;
}

.pricing .four-col ul {
  margin-top: 25px;
  list-style: none;
}

.pricing .four-col ul li{
  font-size: 14px;
  margin-bottom: 15px;
}

.underline {
  display: inline-block;
  height: inherit;
  border-bottom: 1px solid orange;
}

.pricing .four-col a {
  display: inline-block;
  /*margin-top: 40px;*/
  padding: 0px 20px;
  /*margin-left: 22%;*/
  line-height: 2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #29C2E1;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  position: absolute;
  bottom: 50px;
  right: 60px;
}

.ribbon {
  position: relative;
}

.ribbon img {
  position: absolute;
  top: 0;
}

.team-wrapper {
  background-color: #D8E6EB;
  height: 600px;
  /*padding-bottom: 0;*/
}
/* latin-ext */

.team-wrapper .four-col div:nth-child(1) {
  background-color: #686868 ;
  height: 60%;
  color : white;
  text-align: center;
  padding-top: 50%;
}

.team-wrapper .four-col div:nth-child(1) p:nth-child(1) {
  text-transform: uppercase;
}

.team-wrapper .four-col div:nth-child(2) {
  padding-top: 20px;
  padding-left: 30px;
  /*padding-bottom: 10px;*/
  background-color: white;
}

.team-wrapper .four-col div:nth-child(2) p:nth-child(1) {
  text-transform: uppercase;
}

.team-wrapper .four-col div:nth-child(2) p:nth-child(2) {
  color: orange;
}

.team-wrapper .fa {
  width: 20px;
  height: 20px;
}

.team-wrapper .fa-icon {
  margin-right: 0px;
  position: static;
  background-color: transparent;
  padding: 0;
  color: #D8E6EB;
  font-size: 15px;
}

.team-wrapper .four-col div:nth-child(2) ul {
  list-style: none;
  padding-left: 0;
}

.team-wrapper .four-col div:nth-child(2) ul li{
  display: inline-block;
}

.team-wrapper .four-col div:nth-child(2) ul li a{
  text-decoration: none;
}

.team-wrapper .container {
  padding-top: 50px;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
